### Regan Alt - Assignment 2 - 06/15/2021

In [1]:
import sqlite3 as sql
import pandas as pd

#### PART A: Query tickers with fetchall()

In [2]:
# PART A: Query tickers with fetchall()
# Write Python statements to query the tickers table in the dj.db database. Use the SQL statement: SELECT id, ticker, name FROM tickers
# place SQL results in a DataFrame
import sqlite3 as sql
import pandas as pd
connection = sql.Connection("dj.db")
cursor = connection.cursor()
cursor.execute("SELECT id, ticker, name FROM tickers")
rows = cursor.fetchall()
data = pd.DataFrame(rows) # simple Dataframe creation since it can take a matrix
data

     0     1                                            2
0    1     M                                   Macy's Inc
1    2   AXP                     American Express Company
2    3  AAPL                                   Apple Inc.
3    4    BA                           The Boeing Company
4    5   CAT                             Caterpillar Inc.
5    6   CVX                          Chevron Corporation
6    7  CSCO                           Cisco Systems Inc.
7    8    KO                      Coca-Cola Company (The)
8    9   DIS                      The Walt Disney Company
9   10   DOW                                     Dow Inc.
10  11   XOM                      Exxon Mobil Corporation
11  12    GS               Goldman Sachs Group Inc. (The)
12  13    HD                        Home Depot Inc. (The)
13  14   IBM  International Business Machines Corporation
14  15  INTC                            Intel Corporation
15  16   JNJ                            Johnson & Johnson
16  17   JPM                        JP Morgan Chase & Co.
17  18   MCD                       McDonald's Corporation
18  19   MRK                   Merck & Company Inc. (new)
19  20  MSFT                        Microsoft Corporation
20  21   NKE                                    Nike Inc.
21  22   PFE                                  Pfizer Inc.
22  23    PG               Procter & Gamble Company (The)
23  24   TRV                 The Travelers Companies Inc.
24  25   UTX              United Technologies Corporation
25  26   UNH         UnitedHealth Group Incorporated (DE)
26  27    VZ                  Verizon Communications Inc.
27  28     V                                    Visa Inc.
28  29   WMT                                 Walmart Inc.
29  30   WBA                Walgreens Boots Alliance Inc.

In [3]:
# in the DataFrame constructed above, give meaningful column names
data.columns = ['id', 'ticker', 'name']
data

    id ticker                                         name
0    1      M                                   Macy's Inc
1    2    AXP                     American Express Company
2    3   AAPL                                   Apple Inc.
3    4     BA                           The Boeing Company
4    5    CAT                             Caterpillar Inc.
5    6    CVX                          Chevron Corporation
6    7   CSCO                           Cisco Systems Inc.
7    8     KO                      Coca-Cola Company (The)
8    9    DIS                      The Walt Disney Company
9   10    DOW                                     Dow Inc.
10  11    XOM                      Exxon Mobil Corporation
11  12     GS               Goldman Sachs Group Inc. (The)
12  13     HD                        Home Depot Inc. (The)
13  14    IBM  International Business Machines Corporation
14  15   INTC                            Intel Corporation
15  16    JNJ                            Johnson & Johnson
16  17    JPM                        JP Morgan Chase & Co.
17  18    MCD                       McDonald's Corporation
18  19    MRK                   Merck & Company Inc. (new)
19  20   MSFT                        Microsoft Corporation
20  21    NKE                                    Nike Inc.
21  22    PFE                                  Pfizer Inc.
22  23     PG               Procter & Gamble Company (The)
23  24    TRV                 The Travelers Companies Inc.
24  25    UTX              United Technologies Corporation
25  26    UNH         UnitedHealth Group Incorporated (DE)
26  27     VZ                  Verizon Communications Inc.
27  28      V                                    Visa Inc.
28  29    WMT                                 Walmart Inc.
29  30    WBA                Walgreens Boots Alliance Inc.

In [4]:
# for DataFrame above, the id column is a good choice for DataFrame
data.set_index('id', inplace=True)
data

   ticker                                         name
id
1       M                                   Macy's Inc
2     AXP                     American Express Company
3    AAPL                                   Apple Inc.
4      BA                           The Boeing Company
5     CAT                             Caterpillar Inc.
6     CVX                          Chevron Corporation
7    CSCO                           Cisco Systems Inc.
8      KO                      Coca-Cola Company (The)
9     DIS                      The Walt Disney Company
10    DOW                                     Dow Inc.
11    XOM                      Exxon Mobil Corporation
12     GS               Goldman Sachs Group Inc. (The)
13     HD                        Home Depot Inc. (The)
14    IBM  International Business Machines Corporation
15   INTC                            Intel Corporation
16    JNJ                            Johnson & Johnson
17    JPM                        JP Morgan Chase & Co.
18    MCD                       McDonald's Corporation
19    MRK                   Merck & Company Inc. (new)
20   MSFT                        Microsoft Corporation
21    NKE                                    Nike Inc.
22    PFE                                  Pfizer Inc.
23     PG               Procter & Gamble Company (The)
24    TRV                 The Travelers Companies Inc.
25    UTX              United Technologies Corporation
26    UNH         UnitedHealth Group Incorporated (DE)
27     VZ                  Verizon Communications Inc.
28      V                                    Visa Inc.
29    WMT                                 Walmart Inc.
30    WBA                Walgreens Boots Alliance Inc.

### Part B – Determine the date span of the data

Write Python statements to query the daily_measures table in the dj.db database, to determine the
earliest and latest date of the data in this table

In [5]:
# place SQL results in a DataFrame - method 2: pandas read_sql_query()
# use named parameter index_col
# Use SQL to join 2 tables; Python statements are similar to one-table queries
import sqlite3 as sql
connection = sql.Connection("dj.db")
cursor = connection.cursor()
query = """
 SELECT min(date) as first, max(date) as last FROM daily_measures
"""
cursor.execute(query)
rows = cursor.fetchall()
print(rows)

[('2017-01-03', '2017-12-29')]

### Answer: The earliest date in this data is January 3rd, 2017, and the last data is December 29th, 2017.

## Part C – Query price history with for and Cursor

Write Python statements to query the daily_measures table in the dj.db database, and based on the
returned data, determine the date and closing price of the highest price for Apple stock during the data
available in the database.

In [6]:
# fetchone() used here with for
import sqlite3 as sql
connection = sql.Connection("dj.db")
cursor = connection.cursor()
cursor.execute(" SELECT date, closing FROM daily_measures WHERE ticker_id=3 ORDER BY date")
for row in cursor: # Cursor provides a shorthand way to iterate over the rows
   print(row)

('2017-01-03', 114.715378)
('2017-01-04', 114.586983)
('2017-01-05', 115.169696)
('2017-01-06', 116.453639)
('2017-01-09', 117.5203)
('2017-01-10', 117.638817)
('2017-01-11', 118.270913)
('2017-01-12', 117.777088)
('2017-01-13', 117.569682)
('2017-01-17', 118.517825)
('2017-01-18', 118.507948)
('2017-01-19', 118.300542)
('2017-01-20', 118.517825)
('2017-01-23', 118.596837)
('2017-01-24', 118.488195)
('2017-01-25', 120.374604)
('2017-01-26', 120.433863)
('2017-01-27', 120.443739)
('2017-01-30', 120.127692)
('2017-01-31', 119.85115)
('2017-02-01', 127.159749)
('2017-02-02', 126.942467)
('2017-02-03', 127.485673)
('2017-02-06', 128.680728)
('2017-02-07', 129.905412)
('2017-02-08', 130.409113)
('2017-02-09', 131.347379)
('2017-02-10', 131.049809)
('2017-02-13', 132.210332)
('2017-02-14', 133.926319)
('2017-02-15', 134.41235)
('2017-02-16', 134.248686)
('2017-02-17', 134.620649)
('2017-02-21', 135.592711)
('2017-02-22', 135.99939)
('2017-02-23', 135.424088)
('2017-02-24', 135.553035)
('2017-02-27', 135.820848)
('2017-02-28', 135.880362)
('2017-03-01', 138.657681)
('2017-03-02', 137.834404)
('2017-03-03', 138.647762)
('2017-03-06', 138.211326)
('2017-03-07', 138.389868)
('2017-03-08', 137.87408)
('2017-03-09', 137.556672)
('2017-03-10', 138.012946)
('2017-03-13', 138.07246)
('2017-03-14', 137.864161)
('2017-03-15', 139.322254)
('2017-03-16', 139.550391)
('2017-03-17', 138.856061)
('2017-03-20', 140.314154)
('2017-03-21', 138.707276)
('2017-03-22', 140.274478)
('2017-03-23', 139.778528)
('2017-03-24', 139.500796)
('2017-03-27', 139.738852)
('2017-03-28', 142.6352)
('2017-03-29', 142.952608)
('2017-03-30', 142.764147)
('2017-03-31', 142.496334)
('2017-04-03', 142.53601)
('2017-04-04', 143.597342)
('2017-04-05', 142.853418)
('2017-04-06', 142.496334)
('2017-04-07', 142.178926)
('2017-04-10', 142.010303)
('2017-04-11', 140.482777)
('2017-04-12', 140.6514)
('2017-04-13', 139.907475)
('2017-04-17', 140.681157)
('2017-04-18', 140.05626)
('2017-04-19', 139.540472)
('2017-04-20', 141.286216)
('2017-04-21', 141.117593)
('2017-04-24', 142.476496)
('2017-04-25', 143.369205)
('2017-04-26', 142.487208)
('2017-04-27', 142.625281)
('2017-04-28', 142.486415)
('2017-05-01', 145.412519)
('2017-05-02', 146.315148)
('2017-05-03', 145.868793)
('2017-05-04', 145.343086)
('2017-05-05', 147.753403)
('2017-05-08', 151.760678)
('2017-05-09', 152.712902)
('2017-05-10', 152.018572)
('2017-05-11', 153.32788)
('2017-05-12', 155.469192)
('2017-05-15', 155.070808)
('2017-05-16', 154.841738)
('2017-05-17', 149.642832)
('2017-05-18', 151.923578)
('2017-05-19', 152.341881)
('2017-05-22', 153.367718)
('2017-05-23', 153.178486)
('2017-05-24', 152.720345)
('2017-05-25', 153.248203)
('2017-05-26', 152.989254)
('2017-05-30', 153.049012)
('2017-05-31', 152.142689)
('2017-06-01', 152.560992)
('2017-06-02', 154.821818)
('2017-06-05', 153.307961)
('2017-06-06', 153.82586)
('2017-06-07', 154.742142)
('2017-06-08', 154.363677)
('2017-06-09', 148.377964)
('2017-06-12', 144.732754)
('2017-06-13', 145.997622)
('2017-06-14', 144.573401)
('2017-06-15', 143.706917)
('2017-06-16', 141.69508)
('2017-06-19', 145.748632)
('2017-06-20', 144.424007)
('2017-06-21', 145.280532)
('2017-06-22', 145.041502)
('2017-06-23', 145.758592)
('2017-06-26', 145.230734)
('2017-06-27', 143.159139)
('2017-06-28', 145.240693)
('2017-06-29', 143.099382)
('2017-06-30', 143.438008)
('2017-07-03', 142.920109)
('2017-07-05', 143.507725)
('2017-07-06', 142.153221)
('2017-07-07', 143.597361)
('2017-07-10', 144.473805)
('2017-07-11', 144.941906)
('2017-07-12', 145.151057)
('2017-07-13', 147.172854)
('2017-07-14', 148.437722)
('2017-07-17', 148.95562)
('2017-07-18', 149.473519)
('2017-07-19', 150.40972)
('2017-07-20', 149.732468)
('2017-07-21', 149.662751)
('2017-07-24', 151.475396)
('2017-07-25', 152.12277)
('2017-07-26', 152.83986)
('2017-07-27', 149.951579)
('2017-07-28', 148.895863)
('2017-07-31', 148.248489)
('2017-08-01', 149.44364)
('2017-08-02', 156.504989)
('2017-08-03', 154.941334)
('2017-08-04', 155.75802)
('2017-08-08', 159.433108)
('2017-08-09', 160.409148)
('2017-08-10', 155.27)
('2017-08-11', 157.48)
('2017-08-14', 159.85)
('2017-08-15', 161.6)
('2017-08-16', 160.95)
('2017-08-17', 157.87)
('2017-08-18', 157.5)
('2017-08-21', 157.21)
('2017-08-22', 159.78)
('2017-08-23', 159.98)
('2017-08-24', 159.27)
('2017-08-25', 159.86)
('2017-08-28', 161.47)
('2017-08-29', 162.91)
('2017-08-30', 163.35)
('2017-08-31', 164)
('2017-09-01', 164.05)
('2017-09-05', 162.08)
('2017-09-06', 161.91)
('2017-09-07', 161.26)
('2017-09-08', 158.63)
('2017-09-11', 161.5)
('2017-09-12', 160.82)
('2017-09-13', 159.65)
('2017-09-14', 158.28)
('2017-09-15', 159.88)
('2017-09-18', 158.67)
('2017-09-19', 158.73)
('2017-09-20', 156.07)
('2017-09-21', 153.39)
('2017-09-22', 151.89)
('2017-09-25', 150.55)
('2017-09-26', 153.14)
('2017-09-27', 154.23)
('2017-09-28', 153.28)
('2017-09-29', 154.12)
('2017-10-02', 153.81)
('2017-10-03', 154.48)
('2017-10-04', 153.4508)
('2017-10-05', 155.39)
('2017-10-06', 155.3)
('2017-10-09', 155.84)
('2017-10-10', 155.9)
('2017-10-11', 156.55)
('2017-10-12', 156)
('2017-10-13', 156.99)
('2017-10-16', 159.88)
('2017-10-17', 160.47)
('2017-10-18', 159.76)
('2017-10-19', 155.98)
('2017-10-20', 156.16)
('2017-10-23', 156.17)
('2017-10-24', 157.1)
('2017-10-25', 156.405)
('2017-10-26', 157.41)
('2017-10-27', 163.05)
('2017-10-30', 166.72)
('2017-10-31', 169.04)
('2017-11-01', 166.89)
('2017-11-02', 168.11)
('2017-11-03', 172.5)
('2017-11-06', 174.25)
('2017-11-07', 174.81)
('2017-11-09', 175.88)
('2017-11-10', 174.67)
('2017-11-13', 173.97)
('2017-11-14', 171.34)
('2017-11-15', 169.08)
('2017-11-16', 171.1)
('2017-11-17', 170.15)
('2017-11-20', 169.98)
('2017-11-21', 173.14)
('2017-11-22', 174.96)
('2017-11-24', 174.97)
('2017-11-27', 174.09)
('2017-11-28', 173.07)
('2017-11-29', 169.48)
('2017-11-30', 171.85)
('2017-12-01', 171.05)
('2017-12-04', 169.8)
('2017-12-05', 169.64)
('2017-12-06', 169.01)
('2017-12-07', 169.452)
('2017-12-08', 169.37)
('2017-12-11', 172.67)
('2017-12-12', 171.7)
('2017-12-13', 172.27)
('2017-12-14', 172.22)
('2017-12-15', 173.87)
('2017-12-18', 176.42)
('2017-12-19', 174.54)
('2017-12-20', 174.35)
('2017-12-21', 175.01)
('2017-12-22', 175.01)
('2017-12-26', 170.57)
('2017-12-27', 170.6)
('2017-12-28', 171.08)
('2017-12-29', 169.23)

In [7]:
#Find the date of Apple's maximum closing price
import sqlite3 as sql
connection = sql.Connection("dj.db")
cursor = connection.cursor()
cursor.execute(" SELECT date, max(closing) FROM daily_measures WHERE ticker_id=3 ORDER BY date")
for row in cursor: # Cursor provides a shorthand way to iterate over the rows
   print(row)

('2017-12-18', 176.42)

### Answer: Apple's max closing price was 176.42 dollars, on December 18, 2017.

## Part D – Query price history to determine largest 1-day price percentage moves

Write Python statements to determine the date and price when Apple had the highest one-day daily
percent change (See Appendix B for definition). Use the same SQL statement as in part C, and
additional Python (and possibly pandas) statements to find the result.

In [8]:
# fetchone() used here with for
# previous SQL statement from part C
import sqlite3 as sql
connection = sql.Connection("dj.db")
cursor = connection.cursor()
cursor.execute(" SELECT date, closing FROM daily_measures WHERE ticker_id=3 ORDER BY date")
for row in cursor: # Cursor provides a shorthand way to iterate over the rows
   print(row)

('2017-01-03', 114.715378)
('2017-01-04', 114.586983)
('2017-01-05', 115.169696)
('2017-01-06', 116.453639)
('2017-01-09', 117.5203)
('2017-01-10', 117.638817)
('2017-01-11', 118.270913)
('2017-01-12', 117.777088)
('2017-01-13', 117.569682)
('2017-01-17', 118.517825)
('2017-01-18', 118.507948)
('2017-01-19', 118.300542)
('2017-01-20', 118.517825)
('2017-01-23', 118.596837)
('2017-01-24', 118.488195)
('2017-01-25', 120.374604)
('2017-01-26', 120.433863)
('2017-01-27', 120.443739)
('2017-01-30', 120.127692)
('2017-01-31', 119.85115)
('2017-02-01', 127.159749)
('2017-02-02', 126.942467)
('2017-02-03', 127.485673)
('2017-02-06', 128.680728)
('2017-02-07', 129.905412)
('2017-02-08', 130.409113)
('2017-02-09', 131.347379)
('2017-02-10', 131.049809)
('2017-02-13', 132.210332)
('2017-02-14', 133.926319)
('2017-02-15', 134.41235)
('2017-02-16', 134.248686)
('2017-02-17', 134.620649)
('2017-02-21', 135.592711)
('2017-02-22', 135.99939)
('2017-02-23', 135.424088)
('2017-02-24', 135.553035)
('2017-02-27', 135.820848)
('2017-02-28', 135.880362)
('2017-03-01', 138.657681)
('2017-03-02', 137.834404)
('2017-03-03', 138.647762)
('2017-03-06', 138.211326)
('2017-03-07', 138.389868)
('2017-03-08', 137.87408)
('2017-03-09', 137.556672)
('2017-03-10', 138.012946)
('2017-03-13', 138.07246)
('2017-03-14', 137.864161)
('2017-03-15', 139.322254)
('2017-03-16', 139.550391)
('2017-03-17', 138.856061)
('2017-03-20', 140.314154)
('2017-03-21', 138.707276)
('2017-03-22', 140.274478)
('2017-03-23', 139.778528)
('2017-03-24', 139.500796)
('2017-03-27', 139.738852)
('2017-03-28', 142.6352)
('2017-03-29', 142.952608)
('2017-03-30', 142.764147)
('2017-03-31', 142.496334)
('2017-04-03', 142.53601)
('2017-04-04', 143.597342)
('2017-04-05', 142.853418)
('2017-04-06', 142.496334)
('2017-04-07', 142.178926)
('2017-04-10', 142.010303)
('2017-04-11', 140.482777)
('2017-04-12', 140.6514)
('2017-04-13', 139.907475)
('2017-04-17', 140.681157)
('2017-04-18', 140.05626)
('2017-04-19', 139.540472)
('2017-04-20', 141.286216)
('2017-04-21', 141.117593)
('2017-04-24', 142.476496)
('2017-04-25', 143.369205)
('2017-04-26', 142.487208)
('2017-04-27', 142.625281)
('2017-04-28', 142.486415)
('2017-05-01', 145.412519)
('2017-05-02', 146.315148)
('2017-05-03', 145.868793)
('2017-05-04', 145.343086)
('2017-05-05', 147.753403)
('2017-05-08', 151.760678)
('2017-05-09', 152.712902)
('2017-05-10', 152.018572)
('2017-05-11', 153.32788)
('2017-05-12', 155.469192)
('2017-05-15', 155.070808)
('2017-05-16', 154.841738)
('2017-05-17', 149.642832)
('2017-05-18', 151.923578)
('2017-05-19', 152.341881)
('2017-05-22', 153.367718)
('2017-05-23', 153.178486)
('2017-05-24', 152.720345)
('2017-05-25', 153.248203)
('2017-05-26', 152.989254)
('2017-05-30', 153.049012)
('2017-05-31', 152.142689)
('2017-06-01', 152.560992)
('2017-06-02', 154.821818)
('2017-06-05', 153.307961)
('2017-06-06', 153.82586)
('2017-06-07', 154.742142)
('2017-06-08', 154.363677)
('2017-06-09', 148.377964)
('2017-06-12', 144.732754)
('2017-06-13', 145.997622)
('2017-06-14', 144.573401)
('2017-06-15', 143.706917)
('2017-06-16', 141.69508)
('2017-06-19', 145.748632)
('2017-06-20', 144.424007)
('2017-06-21', 145.280532)
('2017-06-22', 145.041502)
('2017-06-23', 145.758592)
('2017-06-26', 145.230734)
('2017-06-27', 143.159139)
('2017-06-28', 145.240693)
('2017-06-29', 143.099382)
('2017-06-30', 143.438008)
('2017-07-03', 142.920109)
('2017-07-05', 143.507725)
('2017-07-06', 142.153221)
('2017-07-07', 143.597361)
('2017-07-10', 144.473805)
('2017-07-11', 144.941906)
('2017-07-12', 145.151057)
('2017-07-13', 147.172854)
('2017-07-14', 148.437722)
('2017-07-17', 148.95562)
('2017-07-18', 149.473519)
('2017-07-19', 150.40972)
('2017-07-20', 149.732468)
('2017-07-21', 149.662751)
('2017-07-24', 151.475396)
('2017-07-25', 152.12277)
('2017-07-26', 152.83986)
('2017-07-27', 149.951579)
('2017-07-28', 148.895863)
('2017-07-31', 148.248489)
('2017-08-01', 149.44364)
('2017-08-02', 156.504989)
('2017-08-03', 154.941334)
('2017-08-04', 155.75802)
('2017-08-08', 159.433108)
('2017-08-09', 160.409148)
('2017-08-10', 155.27)
('2017-08-11', 157.48)
('2017-08-14', 159.85)
('2017-08-15', 161.6)
('2017-08-16', 160.95)
('2017-08-17', 157.87)
('2017-08-18', 157.5)
('2017-08-21', 157.21)
('2017-08-22', 159.78)
('2017-08-23', 159.98)
('2017-08-24', 159.27)
('2017-08-25', 159.86)
('2017-08-28', 161.47)
('2017-08-29', 162.91)
('2017-08-30', 163.35)
('2017-08-31', 164)
('2017-09-01', 164.05)
('2017-09-05', 162.08)
('2017-09-06', 161.91)
('2017-09-07', 161.26)
('2017-09-08', 158.63)
('2017-09-11', 161.5)
('2017-09-12', 160.82)
('2017-09-13', 159.65)
('2017-09-14', 158.28)
('2017-09-15', 159.88)
('2017-09-18', 158.67)
('2017-09-19', 158.73)
('2017-09-20', 156.07)
('2017-09-21', 153.39)
('2017-09-22', 151.89)
('2017-09-25', 150.55)
('2017-09-26', 153.14)
('2017-09-27', 154.23)
('2017-09-28', 153.28)
('2017-09-29', 154.12)
('2017-10-02', 153.81)
('2017-10-03', 154.48)
('2017-10-04', 153.4508)
('2017-10-05', 155.39)
('2017-10-06', 155.3)
('2017-10-09', 155.84)
('2017-10-10', 155.9)
('2017-10-11', 156.55)
('2017-10-12', 156)
('2017-10-13', 156.99)
('2017-10-16', 159.88)
('2017-10-17', 160.47)
('2017-10-18', 159.76)
('2017-10-19', 155.98)
('2017-10-20', 156.16)
('2017-10-23', 156.17)
('2017-10-24', 157.1)
('2017-10-25', 156.405)
('2017-10-26', 157.41)
('2017-10-27', 163.05)
('2017-10-30', 166.72)
('2017-10-31', 169.04)
('2017-11-01', 166.89)
('2017-11-02', 168.11)
('2017-11-03', 172.5)
('2017-11-06', 174.25)
('2017-11-07', 174.81)
('2017-11-09', 175.88)
('2017-11-10', 174.67)
('2017-11-13', 173.97)
('2017-11-14', 171.34)
('2017-11-15', 169.08)
('2017-11-16', 171.1)
('2017-11-17', 170.15)
('2017-11-20', 169.98)
('2017-11-21', 173.14)
('2017-11-22', 174.96)
('2017-11-24', 174.97)
('2017-11-27', 174.09)
('2017-11-28', 173.07)
('2017-11-29', 169.48)
('2017-11-30', 171.85)
('2017-12-01', 171.05)
('2017-12-04', 169.8)
('2017-12-05', 169.64)
('2017-12-06', 169.01)
('2017-12-07', 169.452)
('2017-12-08', 169.37)
('2017-12-11', 172.67)
('2017-12-12', 171.7)
('2017-12-13', 172.27)
('2017-12-14', 172.22)
('2017-12-15', 173.87)
('2017-12-18', 176.42)
('2017-12-19', 174.54)
('2017-12-20', 174.35)
('2017-12-21', 175.01)
('2017-12-22', 175.01)
('2017-12-26', 170.57)
('2017-12-27', 170.6)
('2017-12-28', 171.08)
('2017-12-29', 169.23)

In [21]:
# Find Closing Price percent change by converting SQL query of Price History to a pandas dataframe
import pyodbc
import pandas as pd

df_adjprice = sql.Connection("dj.db")

SQL_Query = pd.read_sql_query(
'''select
date,
closing
from daily_measures WHERE ticker_id=3 ORDER BY date''', df_adjprice)

df = pd.DataFrame(SQL_Query, columns=['ticker','date','closing'])
print (df)

     ticker        date     closing
0       NaN  2017-01-03  114.715378
1       NaN  2017-01-04  114.586983
2       NaN  2017-01-05  115.169696
3       NaN  2017-01-06  116.453639
4       NaN  2017-01-09  117.520300
..      ...         ...         ...
244     NaN  2017-12-22  175.010000
245     NaN  2017-12-26  170.570000
246     NaN  2017-12-27  170.600000
247     NaN  2017-12-28  171.080000
248     NaN  2017-12-29  169.230000

[249 rows x 3 columns]

In [22]:
df["Pct Change"] = df["closing"].pct_change()
df

     ticker        date     closing  Pct Change
0       NaN  2017-01-03  114.715378         NaN
1       NaN  2017-01-04  114.586983   -0.001119
2       NaN  2017-01-05  115.169696    0.005085
3       NaN  2017-01-06  116.453639    0.011148
4       NaN  2017-01-09  117.520300    0.009160
..      ...         ...         ...         ...
244     NaN  2017-12-22  175.010000    0.000000
245     NaN  2017-12-26  170.570000   -0.025370
246     NaN  2017-12-27  170.600000    0.000176
247     NaN  2017-12-28  171.080000    0.002814
248     NaN  2017-12-29  169.230000   -0.010814

[249 rows x 4 columns]

In [26]:
df.loc[df['Pct Change'].idxmax()]

ticker               NaN
date          2017-02-01
closing           127.16
Pct Change     0.0609806
Name: 20, dtype: object

### Answer: The largest 1 day closing price percentage change for Apple in 2017 took place on February 1st, 2017 with a percent change of 0.0609 or about a 6% increase from the previous day.